body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: #333;
  }
  nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
  }
  nav a:hover {
    background-color: #ddd;
    color: #333;
  }
  main {
    padding: 20px;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  body{background-color: #f5e8d9;}
  div{
    display: flex;
  }
  .h11{
    font-size: larger;
  }